.h{
    background-image: url("../images/blog7.jpg");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 100% 100%;


}

.a{
    background-image: url("../images/loan3.jpg");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 100% 100%;


}
.b{
    background-image: url("../images/blog8.jpg");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 100% 100%;


}
.c{
    background-image: url("../images/LOAN.png");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 100% 100%;


}

.d{
    background-image: url("../images/loan3.jpg");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 100% 100%;


}
.home{
    background-image: url("../images/loan3.jpg");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 100% 100%;


}
.loan{
    background-image: url("../images/blog2.jpg");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 100% 100%;


}
.blogs{
    background-image: url("../images/blogs.png");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 100% 100%;


}
.personal3{
    background-image: url("../images/personal4.jpg");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 100% 100%;


}
.buisness{
    background-image: url("../images/buisness4.png");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 100% 100%;


}